<mat-sidenav-container fullscreen>
  <mat-sidenav #sidenav mode="side" [(opened)]="opened" [ngClass]="{closed: !opened}" color="primary">
    <mat-nav-list>
      <a mat-list-item>
        <mat-icon matListIcon>account_circle</mat-icon>
        Ben Fu
      </a>
      <mat-divider></mat-divider>
      <a mat-list-item routerLink="/dashboard" routerLinkActive="active-link">
        <mat-icon matListIcon>dashboard</mat-icon>
        Home
      </a>
      <a mat-list-item href *ngFor="let link of links"> {{ link }} </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content [ngClass]="{closed: !opened}">
    <mat-toolbar color="primary">
      <button mat-icon-button (click)="toggleSidenav()">
        <mat-icon aria-label="Example icon-button with a heart icon" *ngIf="opened">keyboard_arrow_left</mat-icon>
        <mat-icon aria-label="Example icon-button with a heart icon" *ngIf="!opened">menu</mat-icon>
      </button>
      <span>CrowdDash</span>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>


